<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="Nwankwo Samuel">
    <meta name="description" content="Nwankwo samuel's profile page, Contains information about Nwankwo Samuel, Nwankwo Samuel's projects and contact informantion">

    <!-- Title -->
    <title>Nwankwo Samuel's Profile :: Home</title>
    <!-- <% let myTags %> -->

    <!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- FontAwesome JS -->
    <script defer src="assets/js/all.js"></script>

    <!-- Favicon  -->
    <link rel='icon' href='/assets/Imgs/favicon.ico' type='image/x-icon'>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/style/style.css">
    <link rel="stylesheet" href="/assets/style/all.css">
    <link rel="stylesheet" href="/assets/style/all.min.css">
    <link rel="stylesheet" href="/assets/style/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/style/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/style/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style/fontawesome.css">
    <link rel="stylesheet" href="/assets/style/fontawesome.min.css">
    <link rel = 'stylesheet' href = '/assets/style/style2.css'>


</head>
<body>