    <!-- header Begins -->
    <header class="header text-center">
        <div class="force-overflow">
            <h1 class="blog-name pt-lg-4 mb-0"><a href="/">Nwankwo Samuel</a></h1>
            
            <!-- NavBar Begins -->
            <nav class="navbar navbar-expand-lg navbar-dark" >
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!-- about me -->
                <div id="navigation" class="collapse navbar-collapse flex-column" >
                    <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/Imgs/profile.png" alt="Nwankwo samuel's website profile picture" >			
                            
                    <div class="bio mb-3" style="text-align: center;">Hi, I'm Samuel and I'm a Software Developer. <br> Welcome to my Personal Website!</div>
              
                    <!-- social media icons -->
                    <ul class="social-list list-inline py-2 mx-auto">
                        <li class="list-inline-item"><a target="_blank" href="https://www.twitter.com/saminwankwo"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/samuel-nwankwo-a87030174/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.github.com/saminwankwo"><i class="fab fa-github-alt fa-fw"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://t.me/saminwankwo"><i class="fab fa-telegram fa-fw"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/nwankwo.samuel"><i class="fab fa-facebook fa-fw"></i></a></li>
                    </ul>
                        <!-- End of social media icons -->
                    <hr>
                </div>
                <!-- about me ends -->

                <!-- Menu Options -->
                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-user fa-fw mr-2"></i>About Me<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="portfolio.html"><i class="fas fa-laptop-code fa-fw mr-2"></i>My Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="resume.html"><i class="fas fa-file-alt fa-fw mr-2"></i>Resume</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact"><i class="fas fa-envelope-open-text fa-fw mr-2"></i>Contact</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="blog-home.html"><i class="fas fa-blog fa-fw mr-2"></i>Blog</a></li> -->
                </ul>
                <!-- End of menu options -->
                
                <!-- Hire me Buton -->
                <div class="my-2"><a class="btn btn-primary" href="/contact" target="_blank"><i class="fas fa-paper-plane mr-2"></i>Hire Me</a></div>
                
                <!-- Toggle buton -->
                <div class="dark-mode-toggle text-center w-100">
                    <hr class="mb-4">
                    <h4 class="toggle-name mb-3 "><i class="fas fa-adjust mr-1"></i>Dark Mode</h4>
                    <input class="toggle" id="darkmode" type="checkbox"><label class="toggle-btn mx-auto mb-0" for="darkmode"></label>
                </div>
            </div>
        </nav>
        <!-- End of NavBar -->
    </div>
    </header>
    <!-- header Ends -->

    <!-- Main wrapper content -->
    <div class="main-wrapper">
