<%- include('partials/header') -%>
<% myTags ='Home things'; %>
<%- include('partials/nav') -%>

  <!-- About me, Bio section begins -->
  <section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">Nwankwo Samuel</h2>
                <div class="tagline mb-3">Software Developer</div>
                <div class="bio mb-4">I'm a software Developer specialised in frontend and backend development of complex scalable web and mobile applications. Want to know if I can help you with your project? Check out my project <a class="link-on-bg" href="portfolio.html">portfolio</a> and <a class="link-on-bg" href="resume.html">online resume</a>.</div>
                <div class="mb-4">
                    <a class="btn btn-primary mr-2 mb-3" href="portfolio.html"><i class="fas fa-arrow-alt-circle-right mr-2"></i><span class="d-none d-md-inline">View</span> Portfolio</a>
                    <a class="btn btn-secondary mb-3" href="resume.html"><i class="fas fa-file-alt mr-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
                </div>
            </div>
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="/assets/Imgs/about_me.jpg" alt=" Nwankwo samuel's profile picture for nwankwo samuel's personal website">
        </div>
    </div>
</section>
<!-- End of about me, Bio section -->

<!-- My Skill Set -->
<section class="overview-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-3">What I do</h2>
        <div class="section-intro mb-5">I have more than 6 years' experience building software for clients all over the world. Below is a quick overview of my main technical skill sets and technologies I use. Want to find out more about my experience? Check out my <a href="resume.html">resume</a> and <a href="portfolio.html">project portfolio</a>.</div>

        <div class="row">

            <!-- Skill one -->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-js-square"></i></div>
                    <h3 class="item-title">Vanilla JavaScript</h3>
                    <!-- <div class="item-desc">I build scalable webpages .</div> -->
                </div>
            </div>
            
            <!-- Skill Two -->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-expressjs mr-2"></i><i class="fab fa-react mr-2"></i></div>
                    <h3 class="item-title">Express.js &amp; React</h3>
                    <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div> -->
                </div>
            </div>
                
            <!-- Skill Three -->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-node-js"></i></div>
                    <h3 class="item-title">Node.js</h3>
                    <!-- <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div> -->
                </div>
            </div>

            <!-- Skill four -->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-php"></i> <i class="fab fa-laravel"></i></div>
                    <h3 class="item-title">PHP &amp; Laravel</h3>
                </div>
            </div>

            <!--Skill Five  -->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-npm mr-2"></i></div>
                    <h3 class="item-title">npm</h3>
                </div>
            </div>

            <!-- Skill Six -->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i> <i class="fab fa-bootstrap"></i></div>
                    <h3 class="item-title">HTML, CSS &amp; Bootstrap</h3>
                </div>
            </div>

            <!-- Skill Seven -->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-sass mr-2"></i><i class="fab fa-less"></i></div>
                    <h3 class="item-title">Sass &amp; LESS</h3>
                </div>
            </div>

            <!-- Skill eight -->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-github"></i> <i class="fab fa-linux"></i></div>
                    <h3 class="item-title">git &amp; linux</h3>
                </div>
            </div>

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-android"> </i><i class="fab fa-java"></i></div>
                    <h3 class="item-title">Java </h3>
                </div>
            </div>
            
        </div>
        <div class="text-center py-3"><a href="contact.html" class="btn btn-primary"><i class="fas fa-paper-plane mr-2"></i>Hire Me</a></div>
            
    </div>
</section>
<!-- End of Skill set section-->

<div class="container"><hr></div>

<!-- Project Section Begins -->
<section class="featured-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Featured Projects</h2>
        
        <div class="row">

            <!-- Project A -->
            <div class="col-md-6 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-img-holder">
                            <img src="assets/images/project/project-1.jpg" class="card-img" alt="Nwankwo's project image">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="project.html" class="theme-link">Real-Time object detection program</a></h5>
                                <p class="card-text">Project intro lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                                <!-- <p class="card-text"><small class="text-muted">Client: Google</small></p> -->
                            </div>
                        </div>
                    </div>
                    <div class="link-mask">
                        <a class="link-mask-link" href="project.html"></a>
                        <div class="link-mask-text">
                            <a class="btn btn-secondary" href="project.html"><i class="fas fa-eye mr-2"></i>View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project B -->
            <div class="col-md-6 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-img-holder">
                            <img src="assets/Imgs/project/ProfilePage.png" class="card-img" alt="image">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://saminwankwo.github.io" class="theme-link" target="_blank">Project Heading</a></h5>
                                <p class="card-text">Designed in HTML CSS and Javascript, A simple site that describes who I am,what I do, And various way to contact me. </p>
                                <!-- <p class="card-text"><small class="text-muted">Client: Dropbox</small></p> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="link-mask">
                        <a class="link-mask-link" href="project.html"></a>
                        <div class="link-mask-text">
                            <a class="btn btn-secondary" href="project.html"><i class="fas fa-eye mr-2"></i>View Case Study</a>
                        </div>
                    </div> -->
                </div>
            </div>

            <!-- Project C -->
            <div class="col-md-6 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-img-holder">
                            <img src="assets/images/project/project-3.jpg" class="card-img" alt="image">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="project.html" class="theme-link">Project Heading</a></h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <p class="card-text"><small class="text-muted">Client: Google</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask">
                        <a class="link-mask-link" href="project.html"></a>
                        <div class="link-mask-text">
                            <a class="btn btn-secondary" href="project.html"><i class="fas fa-eye mr-2"></i>View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Prpject D -->
            <div class="col-md-6 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-img-holder">
                            <img src="assets/images/project/project-4.jpg" class="card-img" alt="image">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="project.html" class="theme-link">Project Heading</a></h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <p class="card-text"><small class="text-muted">Client: Uber</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask">
                        <a class="link-mask-link" href="project.html"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="project.html"><i class="fas fa-eye mr-2"></i>View Case Study</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-3"><a href="portfolio.html" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Portfolio</a></div>
            
    </div>
</section>
    

<%- include('partials/footer') -%>
